:root {
    --blue: rgb(159, 232, 247);
    --dark-blue: #100d2a;
    --off-white: #f3f4fb;
    --gray-white: #f1f1f2;
    --dark-gray: #cacacd;
    --gray: #e7e9f3;
    --transparent-gray: #3d3d423e;
    --transparent-white: #ffffffde;
    --transparent: transparent;
    --black: #0d0e17;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--dark-blue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.wish-container {
    height: calc(100svh - 229px);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 300px;
}

.wish-star {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
}

.wish-star:hover {
    outline: 3px solid var(--white);
}

.wish-star::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 500%;
    height: 500%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wish-tooltip {
    position: absolute;
    height: fit-content;
    width: 293px;
    max-width: 95svw;
    background-color: var(--blue);
    color: var(--black);
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.wish-tooltip::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 125%;
    height: 115%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tooltip-top {
    top: 150%;
}

.tooltip-left {
    left: 10px;
}

.tooltip-bottom {
    bottom: 150%;
}

.tooltip-right {
    right: 10px;
}

.wish-tooltip button {
    margin-bottom: 10px;
    padding: 5px;
}

.wish-content {
    height: fit-content;
    width: 100%;
    padding: 10px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

textarea {
    resize: none;
    border-radius: 10px;
    font-size: 16px;
    max-width: 95%;
}

button {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: var(--blue);
    border: none;
}

.wish-tooltip button {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0.5rem 1rem;
}

.wish-star:hover .wish-tooltip,
.wish-tooltip:hover {
    display: flex;
}
